.action-confirmation {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 37%, 0.334);
  z-index: 10000;

  .action-confirmation-interface {
    width: min(30rem, 85%);
    padding: $pm-600 $pm-500;
    border: solid 2px $grey-700;
    border-radius: $pm-500;
    background-color: white;
    h3 {
      margin: 0;
      padding: 0 $pm-300;
      font-weight: 800;
      font-size: $fs-400;
      color: $grey-700;
    }
    p {
      margin: 0;
      padding: $pm-300;
      font-weight: 600;
      font-size: $fs-250;
      color: $grey-500;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: $pm-300 0 0;

      button {
        cursor: pointer;
        padding: $pm-200 $pm-400;
        border-radius: $pm-200;
        font-weight: 700;
        font-size: $fs-250;
        margin: auto $pm-200;
        border-style: solid;
        border-width: 2px;
        transition: border-color $tt-100, background-color $tt-100, color $tt-100;
      }

      .cancel-button {
        border-color: $grey-900;
        color: $grey-900;
        &:hover {
          border-color: $prim-700;
          background-color: $prim-100;
          color: $prim-700;
        }
      }
      .confirm-button {
        border-color: $grey-700;
        background-color: $grey-700;
        color: white;
        &:hover {
          border-color: $red-600;
          background-color: $red-600;
          color: $red-100;
        }
      }
    }
  }
}