.action-confirmation {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 37%, 0.334);
  z-index: 1000;

  .action-confirmation-interface {
    min-width: 35rem;
    padding: $pm-600 $pm-500;
    border: solid $pm-100 $prim-800;
    border-radius: $pm-500;
    background-color: $grey-100;
    h3 {
      margin: 0;
      padding: 0 $pm-300;
      font-weight: 600;
      font-size: $fs-400;
      color: $prim-800;
    }
    p {
      margin: 0;
      padding: $pm-300;
      font-weight: 600;
      font-size: $fs-300;
      color: $prim-700;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: $pm-300 0 0;

      button {
        cursor: pointer;
        padding: $pm-300 $pm-500;
        border: none;
        border-radius: $pm-300;
        font-weight: 700;
        font-size: $fs-200;
        margin: auto $pm-200;
        border-style: solid;
        border-width: 2px;
      }

      .cancel-button {
        border-color: $prim-900;
        background-color: $prim-100;
        color: $prim-900;
        &:hover {
          border-color: $prim-700;
          background-color: $prim-300;
          color: $prim-700;
        }
      }
      .confirm-button {
        border-color: $red-900;
        background-color: $red-100;
        color: $red-900;
        &:hover {
          border-color: $red-700;
          background-color: $red-300;
          color: $red-700;
        }
      }
    }
  }
}