.edit-set-container {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: black;
  height: 100vh;

  .alerts-display-container {
    position: fixed;
    inset: auto 0 0 auto;
  }

  .input-edits-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;

    input {
      font-size: $pm-500;
      font-family: inherit;
    }
    .confirmation-interface {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
  }
}

@include breakpoint(xs) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(1, 1fr);
        .edit-card-container {
        }
      }
    }
  }
}

@include breakpoint(sm) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(2, 1fr);
        .edit-card-container {
        }
      }
    }
  }
}

@include breakpoint(md) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(3, 1fr);
        .edit-card-container {
        }
      }
    }
  }
}

@include breakpoint(xl) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(4, 1fr);
        .edit-card-container {
        }
      }
    }
  }
}

@include breakpoint(xxl) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(5, 1fr);
        .edit-card-container {
        }
      }
    }
  }
}