.edit-set-container {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: hsla(0, 0%, 20%, 0.53);
  padding: 5rem;

  .alerts-container {
    position: absolute;
  }

  .input-edits-container {
    background-color: rgb(184, 184, 184);
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;

    .edit-cards-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .edit-card-container {
        width: 100%;
        padding: .2rem 0;
        display: grid;
        grid-template: 
          "term expand definition"
          "term delete definition"
          /1fr auto 1fr
        ;
        textarea {
          resize: none;
        }
        .edit-card-term {
          grid-area: term;
        }
        .edit-card-definition {
          grid-area: definition;
        }
        button {
          width: 6rem;
        }
        .card-expand {
          grid-area: expand;
        }
        .card-delete {
          grid-area: delete;
        }
      }
      .add-card {
        margin: 1rem;
        padding: .5rem 1rem;
      }
    }
    .confirmation-interface {
      // TODO: have action confirmation window here
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
  }
}