.edit-set-container {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: white;

  .alerts-display-container {
    position: fixed;
    inset: auto 0 0 auto;
  }

  .input-edits-container {
    padding: $pm-500;
    display: flex;
    flex-direction: column;
    height: 100%;

    .edit-cards-container {
      position: relative;
      border: solid $pm-100 $grey-500;
      border-radius: $pm-300;
      padding: $pm-600;
      display: grid;
      gap: $pm-500;
      overflow-Y: scroll;
      max-height: calc(100vh - 400px);
      &::-webkit-scrollbar {
        display: none;
      }
      .add-card {
        cursor: pointer;
        border: none;
        border-radius: $pm-300;
        font-size: $fs-700;
        color: $grey-700;
        transition: background-color $tt-100, color $tt-100;
        &:hover {
          background-color: $prim-100;
          color: $prim-600;
        }
      }
    }

    input {
      border: solid $pm-100 $grey-500;
      border-radius: $pm-300;
      margin-bottom: $pm-400;
      padding: $pm-200;
      font-size: $pm-500;
      font-family: inherit;
    }
    .confirmation-interface {
      pointer-events: none;
      padding: $pm-300;
      position: absolute;
      inset: auto 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        pointer-events: all;
        cursor: pointer;
        font-family: inherit;
        font-size: $fs-300;
        font-weight: 700;
        border-radius: $pm-200;
        padding: $pm-200 $pm-400;
        margin: auto $pm-500;
        transition: background-color $tt-100, color $tt-100;
      }

      .cancel-button {
        color: $red-700;
        border: solid $pm-100 $red-500;
        background-color: $red-100;
        &:hover {
          color: $red-100;
          background-color: $red-500;
        }
      }

      .save-button {
        background-color: $green-100;
        color: $green-700;
        border: solid $pm-100 $green-700;
        &:hover {
          color: $green-100;
          background-color: $green-700;
        }
      }
    }
    
  }
}

@include breakpoint(xs) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@include breakpoint(sm) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(2, 1fr);
        max-height: calc(100vh - 350px);
      }
    }
  }
}

@include breakpoint(md) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@include breakpoint(xl) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@include breakpoint(xxl) {
  .edit-set-container {
    .input-edits-container {
      .edit-cards-container {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}