.flashcard {
  cursor: pointer;
  background-color: $card-background-color;
  color: $card-font-color;
  width: 15rem;
  aspect-ratio: 5/3;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  overflow: scroll;
}

.term {
  border: solid 4px red;
}

.definition {
  border: solid 4px rgb(0, 255, 0);
}