.flashcard {
  position: relative;
  cursor: pointer;
  background-color: $prim-100;
  color: $prim-900;
  aspect-ratio: 5/3;
  padding: 1rem;
  font-size: $fs-300;
  font-weight: 700;
  border-radius: 1rem;
  text-align: center;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .flashcard-label {
    position: absolute;
    inset: -$flashcard-border-thickness auto auto auto;
    width: 8rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: $fs-200;
  }
}

.term {
  border: solid $flashcard-border-thickness red;
}

.definition {
  border: solid $flashcard-border-thickness rgb(0, 255, 0);
}

@include breakpoint(xs) {
  .flashcard {
    font-size: $fs-400;

    .flashcard-label {
      font-size: $fs-300;
    }
  }
}