.flashcard {
  cursor: pointer;
  background-color: $prim-100;
  color: $prim-900;
  aspect-ratio: 5/3;
  padding: 1rem;
  font-size: $fs-300;
  font-weight: 700;
  border-radius: 1rem;
  text-align: center;
  overflow: scroll;
}

.term {
  border: solid 6px red;
}

.definition {
  border: solid 6px rgb(0, 255, 0);
}