.manage-interface-container {
  background-color: blue;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  .edit-set-container {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: hsla(0, 0%, 20%, 0.53);
    padding: 5rem;

    .input-edits-container {
      background-color: rgb(184, 184, 184);
      padding: 3rem;
      border-radius: 2rem;

      
    }
  }

  .set-preview-container {
    background-color: red;
  }
}

@include breakpoint(sm) {
  .manage-interface-container {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(md) {
  .manage-interface-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include breakpoint(xl) {
  .manage-interface-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@include breakpoint(xxl) {
  .manage-interface-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}