nav {
  height: $navbar-offset-distance;
  background-color: $prim-900;

  div {
    height: 100%;
    margin: auto;
    max-width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      padding: .4rem 1rem;
      color: $prim-100;
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, 0);
      font-size: $fs-400;
      border: hsla(0, 0%, 100%, 0) solid 2px;
      transition: color .2s, border .2s;
      &:hover {
        border-bottom: $prim-300 solid 2px;
        color: $prim-300;
      }
    }
  }

  .active-nav-button {
    border-bottom: $prim-100 solid 2px;
  }
}