nav {
  height: $navbar-offset-distance;
  //background-color: $prim-900;
  box-shadow: $box-shadow-grey;

  div {
    height: 100%;
    margin: auto;
    max-width: $max-total-width;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      padding: .4rem 1rem;
      color: $prim-900;
      border-radius: $pm-300;
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, 0);
      font-size: $fs-400;
      font-weight: 700;
      border: hsla(0, 0%, 100%, 0) solid $pm-100;
      transition: color $tt-200, border-color $tt-200;
      &:hover {
        border: $prim-500 solid $pm-100;
        color: $prim-500;
      }
    }
  }

  .active-nav-button {
    border: $prim-700 solid $pm-100;
    color: $prim-700;
  }
}