.study-interface-container {
  max-width: $max-total-width;
  margin: 2rem auto;
  padding: 1rem;
  background-color: $prim-900;
  flex-direction: column;
  border-radius: 2rem;

  .card-nav {
    width: 100%;
    display: grid;
    grid-template: 
            "flash flash"
            "left right"
    ;
    gap: 1rem;
    margin: 1rem;
    button {
      cursor: pointer;
      background-color: $prim-100;
      border: none;
      border-radius: 1rem;
      img {
        width: 30%;
      }
    }
    &:first-child {
      grid-area: left;
    }
    &:last-child {
      grid-area: right;
    }
    .flashcard {
      grid-area: flash;
    }
  }
}

@include breakpoint(sm) {
  .study-interface-container {
    .card-nav {
      grid-template: 
        "left flash right" auto / 10% 1fr 10%
      ;
      button {
        img {
          width: 100%;
        }
      }
    }
  }
}