// colors
$background-color: #dbbea1;

$navbar-background-color: #3f292b;
$navbar-font-color: #d34f73;

$study-interface-background-color: #3f292b;
$card-nav-button-color: #db7f67;

$card-background-color: #a37b73;
$card-font-color: black;

// navbar offset
$navbar-offset-distance: 5rem;

