// font Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// primary colors
$prim-900: hsl(286 100 12);
$prim-700: hsl(286 100 27);
$prim-500: hsl(286 100 50);
$prim-300: hsl(286 100 76);
$prim-100: hsl(286 100 93);

// grey colors
$grey-900: hsl(291, 9%, 16%);
$grey-700: hsl(284, 8%, 27%);
$grey-500: hsl(287, 8%, 44%);
$grey-300: hsl(286, 16%, 69%);
$grey-100: hsl(287, 28%, 81%);

// font sizes
$fs-100: .5rem;
$fs-200: 1rem;
$fs-300: 1.5rem;
$fs-400: 2rem;
$fs-500: 3rem;
$fs-600: 5rem;
$fs-700: 8rem;

// navbar offset
$navbar-offset-distance: 5rem;

// max width
$max-total-width: 55rem;

// flashcard border thickness
$flashcard-border-thickness: 6px;

