@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-select {
  user-select: none;
}

body {
  font-family: "Nunito";
  position: absolute;
  inset: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

#root {
  position: absolute;
  inset: 0;
  margin: 0;
}

nav {
  height: 5rem;
  background-color: hsl(286, 100%, 12%);
}
nav div {
  height: 100%;
  margin: auto;
  max-width: 55rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav div button {
  padding: 0.4rem 1rem;
  color: hsl(287, 100%, 96%);
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 2rem;
  border: hsla(0, 0%, 100%, 0) solid 2px;
  transition: color 0.2s, border 0.2s;
}
nav div button:hover {
  border-bottom: hsl(286, 100%, 76%) solid 2px;
  color: hsl(286, 100%, 76%);
}
nav .active-nav-button {
  border-bottom: hsl(287, 100%, 96%) solid 2px;
}

.study-interface-container {
  max-width: 55rem;
  margin: 2rem auto;
  padding: 1.6rem;
}
.study-interface-container .current-set-data {
  box-shadow: 0 0 15px -7px hsl(284, 8%, 27%);
  border-radius: 1.2rem;
  padding: 2rem;
  margin-top: 3rem;
}
.study-interface-container .current-set-data h2 {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
}
.study-interface-container .current-set-data h3 {
  margin: 0;
  font-size: 1rem;
}
.study-interface-container .current-set-card-nav {
  box-shadow: 0 0 15px -7px hsl(284, 8%, 27%);
  border-radius: 1.2rem;
}
.study-interface-container .current-set-card-nav .card-nav {
  width: 100%;
  display: grid;
  grid-template: "flash flash" "left right";
  gap: 1rem;
  margin: 1rem;
}
.study-interface-container .current-set-card-nav .card-nav button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}
.study-interface-container .current-set-card-nav .card-nav button img {
  width: 30%;
}
.study-interface-container .current-set-card-nav .card-nav:first-child {
  grid-area: left;
}
.study-interface-container .current-set-card-nav .card-nav:last-child {
  grid-area: right;
}
.study-interface-container .current-set-card-nav .card-nav .flashcard {
  grid-area: flash;
}

@media (min-width: 700px) {
  .study-interface-container .current-set-card-nav .card-nav {
    grid-template: "left flash right" auto/10% 1fr 10%;
  }
  .study-interface-container .current-set-card-nav .card-nav button img {
    width: 100%;
  }
}
.manage-interface-container {
  padding: 1.2rem;
}
.manage-interface-container .set-previews-container {
  padding: 2rem;
  display: column;
  gap: 3rem;
}
.manage-interface-container .set-previews-container .create-set-button {
  cursor: pointer;
  padding: 0;
  width: 100%;
  border: none;
  aspect-ratio: 1.6/1;
  font-size: 8rem;
  color: hsl(284, 8%, 27%);
  border-radius: 1.2rem;
  transition: background-color 0.1s, color 0.1s;
}
.manage-interface-container .set-previews-container .create-set-button:hover {
  background-color: hsl(287, 100%, 96%);
  color: hsl(286, 100%, 38%);
}

@media (min-width: 500px) {
  .set-previews-container {
    columns: 1;
  }
}
@media (min-width: 700px) {
  .set-previews-container {
    columns: 2;
  }
}
@media (min-width: 1000px) {
  .set-previews-container {
    columns: 3;
  }
}
@media (min-width: 1400px) {
  .set-previews-container {
    columns: 4;
  }
}
@media (min-width: 1800px) {
  .set-previews-container {
    columns: 5;
  }
}
.edit-set-container {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: black;
  height: 100vh;
}
.edit-set-container .alerts-display-container {
  position: fixed;
  inset: auto 0 0 auto;
}
.edit-set-container .input-edits-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.edit-set-container .input-edits-container .edit-cards-container {
  padding: 1.2rem 0;
  display: grid;
  gap: 1rem;
  overflow-Y: scroll;
}
.edit-set-container .input-edits-container .edit-cards-container::-webkit-scrollbar {
  display: none;
}
.edit-set-container .input-edits-container .edit-cards-container .add-card {
  margin: 1rem;
  padding: 0.5rem 1rem;
}
.edit-set-container .input-edits-container input {
  font-size: 1.6rem;
  font-family: inherit;
}
.edit-set-container .input-edits-container .confirmation-interface {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 500px) {
  .edit-set-container .input-edits-container .edit-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 700px) {
  .edit-set-container .input-edits-container .edit-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .edit-set-container .input-edits-container .edit-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px) {
  .edit-set-container .input-edits-container .edit-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1800px) {
  .edit-set-container .input-edits-container .edit-cards-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
.flashcard {
  position: relative;
  cursor: pointer;
  background-color: white;
  color: hsl(286, 100%, 12%);
  aspect-ratio: 5/3;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 1rem;
  text-align: center;
  overflow: scroll;
}
.flashcard::-webkit-scrollbar {
  display: none;
}
.flashcard .flashcard-label {
  position: absolute;
  inset: -6px auto auto auto;
  padding: 0 0.6rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1rem;
}

.term {
  border: solid 6px red;
}

.definition {
  border: solid 6px rgb(0, 255, 0);
}

@media (min-width: 500px) {
  .flashcard {
    font-size: 2rem;
  }
  .flashcard .flashcard-label {
    font-size: 1.5rem;
  }
}
.action-confirmation {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 37%, 0.334);
  z-index: 1000;
}
.action-confirmation .action-confirmation-interface {
  width: min(30rem, 85%);
  padding: 2rem 1.6rem;
  border: solid 2px hsl(284, 8%, 27%);
  border-radius: 1.6rem;
  background-color: white;
}
.action-confirmation .action-confirmation-interface h3 {
  margin: 0;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 2rem;
  color: hsl(284, 8%, 27%);
}
.action-confirmation .action-confirmation-interface p {
  margin: 0;
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(287, 8%, 44%);
}
.action-confirmation .action-confirmation-interface div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0 0;
}
.action-confirmation .action-confirmation-interface div button {
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  font-weight: 700;
  font-size: 1.25rem;
  margin: auto 0.6rem;
  border-style: solid;
  border-width: 2px;
  transition: border-color 0.1s, background-color 0.1s, color 0.1s;
}
.action-confirmation .action-confirmation-interface div .cancel-button {
  border-color: hsl(291, 9%, 16%);
  color: hsl(291, 9%, 16%);
}
.action-confirmation .action-confirmation-interface div .cancel-button:hover {
  border-color: hsl(286, 100%, 27%);
  background-color: hsl(287, 100%, 96%);
  color: hsl(286, 100%, 27%);
}
.action-confirmation .action-confirmation-interface div .confirm-button {
  border-color: hsl(284, 8%, 27%);
  background-color: hsl(284, 8%, 27%);
  color: white;
}
.action-confirmation .action-confirmation-interface div .confirm-button:hover {
  border-color: hsl(0, 100%, 24%);
  background-color: hsl(0, 100%, 24%);
  color: hsl(0, 100%, 92%);
}

.set-preview-container {
  border-radius: 1.2rem;
  padding: 3rem;
  transition: box-shadow 0.1s, background-color 0.1s;
  break-inside: avoid;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.set-preview-container h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.set-preview-container h3 {
  margin: 0;
  line-height: 2rem;
  color: hsl(287, 8%, 44%);
}
.set-preview-container .set-preview-buttons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}
.set-preview-container .set-preview-buttons p {
  margin: 0;
  color: hsl(286, 16%, 69%);
  font-size: 1.25rem;
}
.set-preview-container .set-preview-buttons button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  margin: 0 0.6rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  transition: border-color 0.1s, background-color 0.1s, color 0.1s;
}
.set-preview-container .set-preview-buttons .edit-button {
  border: solid 2px hsl(284, 8%, 27%);
  color: hsl(284, 8%, 27%);
}
.set-preview-container .set-preview-buttons .delete-button {
  border: solid 2px hsl(284, 8%, 27%);
  color: white;
  background-color: hsl(284, 8%, 27%);
}

.set-can-be-studied {
  cursor: pointer;
  box-shadow: 0 0 15px -7px hsl(284, 8%, 27%);
}
.set-can-be-studied:hover {
  box-shadow: 0 0 25px -7px hsl(286, 100%, 27%);
}
.set-can-be-studied .edit-button:hover {
  border-color: hsl(286, 100%, 38%);
  color: hsl(286, 100%, 38%);
  background-color: hsl(287, 100%, 96%);
}
.set-can-be-studied .delete-button:hover {
  border-color: hsl(286, 100%, 38%);
  color: hsl(287, 100%, 96%);
  background-color: hsl(286, 100%, 38%);
}

.set-cannot-be-studied {
  box-shadow: 0 0 20px -7px hsl(0, 100%, 34%);
}
.set-cannot-be-studied .set-preview-buttons p {
  color: hsl(0, 76%, 62%);
  font-weight: 900;
  font-size: 1.5rem;
}
.set-cannot-be-studied .set-preview-buttons .edit-button:hover {
  border-color: hsl(0, 100%, 24%);
  color: hsl(0, 100%, 24%);
  background-color: hsl(0, 100%, 92%);
}
.set-cannot-be-studied .set-preview-buttons .delete-button:hover {
  border-color: hsl(0, 100%, 24%);
  color: hsl(0, 100%, 92%);
  background-color: hsl(0, 100%, 24%);
}

.edit-card-container {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-card-container textarea {
  resize: none;
  width: 100%;
  font-family: inherit;
}

/*# sourceMappingURL=index.css.map */
